@import "mocha.css";

* {
    border: none;
    font-family:"Monaspace Neon Nerd Font";
    font-size: 13px;
    min-height: 0px;
}

.modules-left {
    margin:8px 0px 8px 10px;
}

.modules-right {
    margin:8px 10px 8px 0px;
}

.modules-center {
    margin:8px 0px 8px 0px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.15); 
}
/*
.modules-left > widget + widget::before,
.modules-center > widget + widget::before,
.modules-right > widget + widget::before {
    content: "│";
    color: @overlay1;
    margin-right: 8px;
    font-weight: normal;
}

.modules-left > widget + widget,
.modules-center > widget + widget,
.modules-right > widget + widget {
    margin-left: 8px;
}
*/

#window {
    font-weight: bold;
    font-family: "Monaspace Neon Nerd Font";
    background-color: @surface0;
    color: @text; 
    padding: 0px 5px;
    border-radius: 8px; 
    margin: 0 10px; 
}

window#waybar.empty #window {  
 background:none;  
}


#workspaces button {
    padding: 0 5px 0px 2px;
    margin: 0 2px;
    background-color: @surface0; 
    border-radius: 8px;
    color: @text;
}

#workspaces button.active {
	color: @lavender;	
}

#workspaces button:nth-child(1) { /* Kitty */
	color: @mauve;
}

#workspaces button:nth-child(2) { /* Browser */
	color: @rosewater;
}

#workspaces button:nth-child(3) { /* Code Editor */
	color: @mint;
}

#workspaces button:nth-child(4) { /* Spotify */
	color: @darkteal;
}

#workspaces button:nth-child(5) { /* Youtube */
	color: @red;
}


#custom-updates {
	color: @flamingo;
}

#custom-updates, #clock, #battery, #cpu, #disk, #memory, #network, #pulseaudio, #bluetooth {
    padding: 0 5px;
    margin: 0 2px;
    background-color: @surface0; 
    border-radius: 8px;
}

#clock {
    font-weight: bold;
    color: @peach; 
}

#battery {
    color: @green; 
}

#battery icon {
    color: @red; 
}

#battery.charging {
    background-color: @green;
    color: @base;
}

#battery.warning:not(.charging) {
    color: @text; 
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-system {
	color: @yellow;
    padding: 0 5px;
    margin: 0 2px;
}

#cpu {
    color: @tealaccent;
}

#memory {
    color: @lavender;
}

#disk {
    color: @lightmauve;
}

#network {
    color: @blue;
}

#network.disconnected {
    background: @red;
}

#pulseaudio {
    color: @sky; 
}

#pulseaudio.muted {
    color: @maroon; 
}

#bluetooth {
    color: @sapphire; 
}


@keyframes blink {
    to {
        background-color: @text;
        color: @base;
    }
}
