
@define-color backgroundlight rgba(150, 150, 150, 0.1);
@define-color backgrounddark rgba(150, 150, 150, 0.1);
@define-color workspacesbackground1 rgba(150, 150, 150, 0.1);
@define-color workspacesbackground2 rgba(150, 150, 150, 0.1);
@define-color bordercolor rgba(0, 0, 0, 0.5);
@define-color bordershadow rgba(255, 255, 255, 0.2);
@define-color textcolor1 #FFFFFF;
@define-color textcolor2 #FFFFFF;
@define-color textcolor3 #000000;
@define-color iconcolor #000000;

@keyframe
@import 'universal.css';
@import "catppuccin_theme/mocha.css";

* {
   }

.modules-left {}

.modules-right {}

.modules-center {}

window#waybar {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  color: rgba(255, 255, 255, 1);
}

#window {
  border-radius: 20px;
  border: 2.5px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

window#waybar.empty #window {
  background: none;
  border: none;
}


#workspaces button {
  border-radius: 20px;
  border: 2.5px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

#workspaces button.active {}

#workspaces button:nth-child(1) {
  /* Terminal */
  color: @mauve;
}

#workspaces button:nth-child(2) {
  /* Browser */
  color: @rosewater;
}

#workspaces button:nth-child(3) {
  /* Code Editor */
  color: @mint;
}

#workspaces button:nth-child(4) {
  /* Youtube */
  color: @red;
}

#workspaces button:nth-child(5) {
  /* Spotify */
  color: @darkteal;
}


#custom-updates {}



#custom-updates,
#custom-system,
#custom-settings,
#custom-power-profile,
#clock,
#battery,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#bluetooth {
  border-radius: 20px;
  border: 2.5px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

#clock {}

#battery {}

#battery icon {}

#battery.charging {}

#battery.warning:not(.charging) {}

#custom-system {}

#cpu {}

#memory {}

#disk {}

#network {}

#network.disconnected {}

#pulseaudio {}

#pulseaudio.muted {}

#bluetooth {}


@keyframes blink {
  to {}
}
